<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="icon" href="./../../images/store.png" type="image/gif" sizes="16x16">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./../../css/materialize.min.css">
  <link rel="stylesheet" href="./../../css/style.css">
  <link rel="stylesheet" href="./../css/pace.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
  <script defer src="./../../js/materialize.min.js"></script>
  <script defer src="./../../js/ui.js"></script>

  <title>Buy Everything</title>
</head>

<body>
  <div class="contain">
    <%- include('./layout/sidebar') %>

    <div class="content">
      <h5>Thêm sản phẩm</h5>
      <form method="POST" action="/admin/edit-products/<%= id %>/edit">
        <div class="input-field">
          <input type="text" id="product-name" name="productName" value="<%= name %>" required>
          <label for="product-name">Tên sản phẩm</label>
        </div>
        <div class="input-field">
          <input type="text" id="product-thumbnail" name="productThumbnail" value="<%= thumbnail %>" required>
          <label for="product-thumbnail">Hình ảnh sản phẩm</label>
        </div>
        <div class="input-field">
          <input type="text" id="product-price" name="productPrice" value="<%= price %>" required>
          <label for="product-price">Giá sản phẩm</label>
        </div>
        <textarea id="product-detail" name="productDetail" class="materialize-textarea"><%= detail %></textarea>
        <script>
          CKEDITOR.replace('product-detail');
        </script>
        <button type="submit" class="btn waves-effect">Thêm sản phẩm</button>
        <button type="reset" class="btn waves-effect">Nhập lại</button>
      </form>
    </div>
  </div>
</body>

</html>