<%- include('./layout/header') %>

<body>
  <div class="login">
    <h3>Đăng nhập</h3>
    <form method="POST" action="/admin/login">
      <div class="row">
        <div class="input-field col m12">
          <input id="username" type="text" class="validate" required name="username">
          <label for="username">Tên đăng nhập</label>
        </div>
        <div class="input-field col m12">
          <input id="password" type="password" class="validate" required name="password">
          <label for="password">Mật khẩu</label>
        </div>
        <div class="row">
          <div class="col m6">
            <button class="btn waves-effect">Đăng nhập</button>
          </div>
          <div class="col m6">
            <a href="#" class="col m6">Quên mật khẩu</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>

</html>