<%- include('./layout/header') %>

<body>
  <div class="contain">
    <%- include('./layout/sidebar') %>

    <div class="content">
      <h5>Quản lý sản phẩm</h5>

      <table class="responsive-table">
        <thead>
          <tr>
            <th>Hình ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Sửa</th>
            <th>Xóa</th>
          </tr>
        </thead>

        <tbody>
          <% products.map(product => { %>
          <tr>
            <td><img src="<%= product.thumbnail %>" class="thumbnail-admin"></td>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td>
              <a 
                href="/admin/edit-products/<%= product.id %>" 
                class="btn waves-effect green">
                  <i class="material-icons">create</i>
              </a>
            </td>
            <td>
              <a 
                href="/admin/manage-products/delete?id=<%= product.id %>" 
                class="btn waves-effect red darken-2">
                  <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>