<%- include('./layout/header') %>

  <div class="container">
    <div class="row">
      <% products.map(product => { %>
      <div class="col m3">
        <div class="card z-depth-3">
          <div class="card-image">
            <img src="<%= product.thumbnail%>" alt="<%= product.name %>">
          </div>
          <div class="card-content">
            <h6><%= product.name %></h6>
            <p><%= product.price %> đ</p>
          </div>
          <div class="card-action">
            <a href="/product-detail/<%= product.id %>" class="black-text">Xem sản phẩm</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>

    <ul class="pagination">
      <li class="waves-effect"><a href="/?page=<%= page - 1 %>"><i class="material-icons">chevron_left</i></a></li>
      <% for (var i = 0; i < products.length / 4; i++) { %>
      <li class="waves-effect"><a href="/?page=<%= i + 1 %>"><%= i + 1 %></a></li>
      <% } %>
      <li class="waves-effect"><a href="/?page=<%= page + 1 %>"><i class="material-icons">chevron_right</i></a></li>
    </ul>
  </div>
</body>
</html>