<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="icon" href="./../images/store.png" type="image/gif" sizes="16x16">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./../css/materialize.min.css">
  <link rel="stylesheet" href="./../css/style.css">
  <link rel="stylesheet" href="./../css/pace.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
  <script defer src="./../js/materialize.min.js"></script>
  <script defer src="./../js/ui.js"></script>

  <title>Buy Everything</title>
</head>

<body>

  <!-- HEADER -->
  <nav class="black">
    <div class="container nav-wrapper">
      <a href="/" class="brand-logo">Buy Everything</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Trang chủ</a></li>
        <li>
          <a href="/shopping-cart" class="btn waves-effect white black-text">
            Giỏ hàng 0
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="search-form container">
    <form method="GET" action="/search">
      <div class="input-field">
        <input type="text" name="search" autocomplete="off" id="q">
        <label for="search">Bạn muốn gì kiếm sản phẩm nào ?</label>
      </div>
    </form>
  </div>

  <div class="container">
    <div class="row">
      <div class="col m6">
        <img src="<%= thumbnail %>" alt="thumbnail-detail" class="thumbnail-detail">
      </div>
      <div class="col m6">
        <h4><%= name %></h4>
        <p>Giá: <%= price %></p>
        <div>
          <div>
            <button class="btn waves-effect waves-light black">Mua</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col m12">
        <h5>Mô tả sản phẩm</h5>
        <%- detail %>
      </div>
    </div>
  </div>