<%- include('./layout/header') %>

  <div class="container">
    <ul class="collection">
      <% searchResult.map(result => { %>
      <li class="collection-item">
        <%= result.name %>
        <br>
        <%= result.price %>
      </li>
      <% }) %>
    </ul>
  </div>
</body>
</html>