.search-form {
  margin-top: 2%;
}

.card {
  margin-top: 10% !important;
  height: 400px !important;
}

.login {
  width: 40%;
  margin: 5% auto;
}

.contain {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  flex: 1;
  height: 100vh;
  overflow: auto;
}

.content {
  flex: 5;
  height: 100vh;
  overflow: auto;
  padding: 50px;
}

.brand-logo {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  font-weight: bold;
  font-size: 20px;
}

.collapsible,
.collapsible-header,
.collapsible-body {
  border: none;
}

.collapsible-body {
  padding: 0px;
}

.card-image img {
  width: 200px !important;
  height: 200px !important;
}

.thumbnail-admin {
  width: 75px;
  height: 75px;
}

.thumbnail-detail {
  width: 350px;
  height: 350px;
}

.quantity {
  display: flex;
  justify-content: space-between;
}

.quantity-button {
  width: 30px;
  height: 30px;
}

.quantity-button button,
.quantity-button span {
  width: 30px;
  height: 30px;
}