<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="icon" href="images/store.png" type="image/gif" sizes="16x16">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./../css/materialize.min.css">
  <link rel="stylesheet" href="./../css/style.css">
  <link rel="stylesheet" href="./../css/pace.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
  <script defer src="./../js/materialize.min.js"></script>
  <script defer src="./../js/ui.js"></script>

  <title>Buy Everything</title>
</head>