<div class="sidebar z-depth-3">
    <div class="brand-logo">
      <a href="/admin/dashboard">Trang quản trị</a>
    </div>
    <ul class="collapsible z-depth-0">
      <li>
        <div class="collapsible-header"><i class="material-icons">computer</i>Sản phẩm</div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item">
              <a href="/admin/add-products">Thêm sản phẩm</a></li>
            <li class="collection-item">
              <a href="/admin/manage-products">Quản lý sản phẩm</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>